/open_c/config.h
/win32/config.h
/man/

/autom4te.cache/
/compile
/config.h
/config.h.in~
/config.log
/config.status
/libtool
/missing
/stamp-h1

config.sub
config.guess

Doxyfile
Makefile
Makefile.in
TAGS
.deps
.libs
*.a
*.la
*.lo
*.o
*_tag_ref.c

Makefile.in
depcomp
